body{
    background-color: #E9EAED;
}

#plantillaNav{
    background-color: #35373B;
}

#btnNav, #btnEditar, #btnCrearChollo, #btnCrear, #btnPuntuacion{
    background-color: #FF7900;
    color: white;
}

footer{
    background-color: #35373B;
    color: white;
}

#precio{
   color: #FF7900;
}

#btnIrChollo{
    background-color: #FF7900;
    color: white;
    width: 100%;
}